@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: lightgray;
}

.hero {
  max-width: 1400px;
  margin-bottom: 100px;
  padding: 200px 0;
  margin: 0 auto;
}
.video-bg {
  position: absolute;
  border-radius: 10px;
  max-width: 1400px;
  max-height: 100%;
  z-index: -1;
}

h1 {
  text-align: left;
  font-size: 36px;
  padding-bottom: 10px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
p {
  font-size: 14px;

  top: 45px;
  left: 28px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

.container {
  width: 500px;
  background: rgba(255, 255, 255, 0.5);
  padding: 30px 30px 10px 30px;
  border-radius: 4px;
  margin: 30px 30px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}
.time {
  font-size: 36px;
  font-weight: bold;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
  line-height: 48px;
}
.date {
  opacity: 0.5;
}
.city:last-child {
  border: none;
}
@media (max-width: 960px), (max-height: 600px) {
  .video-bg {
    display: none;
  }
  body {
    background-color: lightgray;
  }
  .container {
    margin: 0 auto;
    max-width: 300px;
    padding: 10px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  .time {
    font-size: 20px;
  }
  .city {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .hero {
    padding: 0;
  }
}
